
<!-- <form [formGroup]="formulariocheck" > -->
    <form [formGroup]="formulariocheck"(ngSubmit)="submit()">
    <p><br>
      <input type="radio" formControlName="persona" value="fisica">&#160;Persona física&#160;&#160;&#160;   
      <input type="radio" formControlName="persona" value="juridica">&#160;Persona jurídica
    </p>
<!--    
    <p><button type="submit">Confirmar</button></p>
  </form>-->
  <div>
    <p>Persona:{{formulariocheck.value.persona}}</p>
    <p>Persona:{{this.persona}}</p>
    <p>Persona:{{this.tipopersona2}}</p>    
    <!-- <p>Persona:{{this.tipopersona}}</p> -->
  </div> 